.button {
  width: 255px;
  height: 60px;
  background: #00c2f0;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background: #00a1c9;
    box-shadow: 0px 0px 5px 1px #006d88;
    border: 1px solid #00627ae4;
  }
}
