.header {
  min-height: 700px;
  padding: 39px 0 0 0;
  background: url("../img/main_bg.png") center (center/cover) no-repeat;
  &__hamburger {
    display: none;
  }

  &__logo {
    width: 140px;
    height: 65px;
    img {
      width: 100%;
    }
  }
  &__nav {
    display: block;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  &__list {
    margin-left: 8px;
    a {
      position: relative;
      font-weight: 700;
      font-size: 12px;
      line-height: 26px;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: rgb(255, 255, 255);
        transition: width 0.5s;
      }
      &:hover:after {
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px;
        background-color: rgb(255, 255, 255);
        content: "";
        transition: width 0.5s;
      }
    }
  }

  &__tittle {
    margin-top: 133px;
    color: #ffffff;
    font-weight: 900;
    font-size: 42px;
    line-height: 48px;
  }
  &__subtittle {
    margin-top: 20px;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    span {
      font-weight: 400;
    }
  }

  &__phone {
    position: relative;
    margin-top: 47px;
    margin-left: auto;
    width: 434px;

    img {
      width: 100%;
    }
  }
  &__button {
    margin-top: 32px;
    left: 7px;
    top: 7px;
    background: #00c2f0;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__wrapper {
    width: 100%;
  }
  &__mini {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: rgba(0, 0, 0, 0.92);
    z-index: 10;
    transition: 0.6s all;
    nav {
      margin-top: 50;
      height: 100%;
    }
    &-menu {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style-type: none;
    }
    &-list {
      text-align: center;
      margin-bottom: 25px;

      a {
        position: relative;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        &:hover {
          color: #00c2f0;
        }
      }
    }
    &-active {
      left: 0;
    }
  }
}
