.header {
  &__wrapper {
    padding: 0 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 140px;
      height: 65px;
    }
  }
  &__popup {
    //  display: none;
    width: 100%;
    height: 70px;
    position: fixed;
    top: -70px;
    left: 0;
    background-color: rgba(0, 42, 53, 0.925);
    z-index: 5;
    transition: all 0.8s;

    &-menu {
      width: 460px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// @keyframes showPopup {
//   0% {
//     top: -70px;
//   }
//   100% {
//     top: 0;
//   }
// }
